@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model CruscottoIncidenti.Application.Incidents.Commands.CreateIncident.CreateIncidentCommand

<div class="pt-4">
    @Html.BeginForm("CreateIncident", "Incident") {
    <div class="row">
        <div class="col-6">
            @Html.LabelFor(m => m.Subsystem, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.Subsystem, new { @class = "form-control mw-100", placeholder = @Html.DisplayNameFor(m => m.Username) })
        </div>
        <div class="col-6">

        </div>
    </div>


    <div class="row">
        <div class="col-6">

        </div>
        <div class="col-6">

        </div>
    </div>
    }
</div>

