@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal" tabindex="-1" id="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="userModalContent">
        </div>
    </div>
</div>

<div class="my-5">
    <table id="usersTable" class="w-100 table table-striped table-bordered table-hover"></table>
    <div class="mt-3">
        <button onclick="createUserAction();" class="btn btn-success" id="createButton"><i class="fas fa-plus"></i> Add</button>
        <button onclick="editUserAction();" class="btn btn-primary" id="editButton"><i class="fas fa-pen"></i> Edit</button>
        <button onclick="detailedUserAction();" class="btn btn-secondary" id="detailsButton"><i class="fas fa-info"></i> Details</button>
        <button onclick="detailedUserAction(true);" class="btn btn-danger" id="deleteButton"><i class="fas fa-trash"></i> Delete</button>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/dataTables/users")

    <script>
        $(renderUsersGrid());
    </script>
}

