@{
    ViewBag.Title = "500";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-1 fw-bold">500</h1>
    <p class="fs-2 fw-medium mt-4">Some error occured</p>
    <a href="javascript:history.go(-1)" class="btn btn-light fw-semibold rounded-pill px-4 py-2 custom-btn">
        Go Back
    </a>
</div>