@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs mt-5" id="incidentsTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="data-tab" data-bs-toggle="tab" data-bs-target="#data-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Data</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="import-tab" data-bs-toggle="tab" data-bs-target="#import-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Import</button>
    </li>
</ul>

<div class="tab-content border-start border-end border-bottom" id="incidentsTabContent">
    <div class="tab-pane fade show active p-3 pb-5" id="data-tab-pane" role="tabpanel" aria-labelledby="data-tab" tabindex="0">
        <div class="mt-3">
            <table id="incidentsTable" class="w-100 table table-striped table-bordered table-hover"></table>
        </div>
        <div class="mt-3">
            <a href="" class="btn btn-success" id="createLink"><i class="fas fa-plus"></i> Add</a>
            <a href="" class="btn btn-primary" id="editLink"><i class="fas fa-pen"></i> Edit</a>
            <a href="" class="btn btn-secondary" id="detailsLink"><i class="fas fa-info"></i> Details</a>
            <a href="" class="btn btn-danger" id="deleteLink"><i class="fas fa-trash"></i> Delete</a>
        </div>
    </div>
    <div class="tab-pane fade p-5" id="import-tab-pane" role="tabpanel" aria-labelledby="import-tab" tabindex="0">
       @using (Html.BeginForm("ImportIncident", "Incident", FormMethod.Post))
        {
            <input class="form-control mb-5" type="file" id="importedFile" name="importedFile">
            <button type="submit" class="btn btn-primary">Import Data</button>
        }
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/dataTables/incidents")

    <script>
        $(renderIncidentsGrid());
    </script>
}