@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Incidents";
}

@inherits CruscottoIncidenti.Utils.CustomPageBase

<ul class="nav nav-tabs mt-5" id="incidentsTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="data-tab" data-bs-toggle="tab" data-bs-target="#data-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Data</button>
    </li>
    @if (CurrentUserService.Roles.Contains(Role.Operator))
    {
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="import-tab" data-bs-toggle="tab" data-bs-target="#import-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Import</button>
        </li>
    }
</ul>
<div class="tab-content border-start border-end border-bottom" id="incidentsTabContent">
    <div class="tab-pane fade show active p-3 pb-4" id="data-tab-pane" role="tabpanel" aria-labelledby="data-tab" tabindex="0">
        <div class="mt-3">
            <table id="incidentsTable" class="w-100 table table-striped table-bordered table-hover"></table>
        </div>
        <div class="d-flex flex-wrap gap-2 mt-3">
            <a href="@Url.Action("GetCreateIncident", "Incident")" class="btn btn-success" id="createLink"><i class="fas fa-plus"></i> Add</a>
            @if (CurrentUserService.Roles.Contains(Role.Operator))
            {
                <button type="button" onclick="callIncidentAction('GetUpdateIncident');" class="btn btn-primary" id="editLink"><i class="fas fa-pen"></i> Edit</button>
                <button type="button" onclick="callIncidentAction('GetDetailedIncident');" class="btn btn-secondary" id="detailsLink"><i class="fas fa-info"></i> Details</button>
                <button type="button" onclick="callIncidentAction('GetDetailedIncident', true);" class="btn btn-danger" id="deleteLink"><i class="fas fa-trash"></i> Delete</button>
            }
        </div>
    </div>
    @if (CurrentUserService.Roles.Contains(Role.Operator))
    {
        <div class="tab-pane fade py-5 px-3 p-lg-5" id="import-tab-pane" role="tabpanel" aria-labelledby="import-tab" tabindex="0">
            <input class="form-control mb-3" type="file" id="importedFile" name="importedFile" accept=".csv" onchange="submitCSV();">
            <button type="button" onclick="importData();" class="btn btn-primary" id="importData">Import Data</button>
            @Html.ValidationMessage("IncorrectImportIncidents", string.Empty, new { @class = "d-block text-danger mt-3", @style= "white-space: pre-line" })
            <div class="mt-5">
                <table id="incidentsPreviewTable" class="w-100 table table-striped table-bordered table-hover"></table>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/dataTables/incidents")

    <script>
        $(document).ready(function () {
            renderIncidentsGrid();
            renderPreviewIncidentswGrid();

            $("#data-tab").on("click", () => {
                $("#incidentsTable").DataTable().ajax.reload();
            });

            $("#importData").prop("disabled", true);
        });

        function callIncidentAction(action, shouldBeDeleted = false) {
            const id = $("#incidentsTable").DataTable().rows({ selected: true }).data()[0].Id;
            const deleteParam = shouldBeDeleted ? "?shouldBeDeleted=true" : "";
            window.location.href = `/Incident/${action}/${id}${deleteParam}`;
        }

        var data;

        function submitCSV() {
            const files = $('#importedFile')[0].files;
            const reader = new FileReader();
            const table = $("#incidentsPreviewTable").DataTable();
            $(".field-validation-valid").html("");

            if (files.length > 0) {
                reader.onload = function (e) {
                    var csvContent = e.target.result;
                    data = processCSVData(csvContent);

                    if (data) {
                        table.clear();
                        table.rows.add(data);
                        table.draw();
                        $("#importData").prop("disabled", false);
                    }
                };

                reader.readAsText(files[0], "iso-8859-1");
            }
            else {
                table.clear();
                table.draw();
                $("#importData").prop("disabled", true);
            }
        }

        function importData() {
            $.ajax({
                url: "/Incident/ImportIncidents",
                method: "POST",
                data: {
                    incidents: {
                        Incidents: data
                    }
                },
                success: (data) => {
                    const table = $("#incidentsPreviewTable").DataTable();
                    var insertedCounter = 0;

                    table.rows().every(function () {
                        const requestNr = this.data().RequestNr;
                        const rowNode = this.node();
                        const isInsertedColumn = $(rowNode).children().last();
                        
                        if (data.insertedIncidents.includes(requestNr)) {
                            insertedCounter++;
                            $(isInsertedColumn).html("<i class='fas fa-check-circle text-success'></i>");
                        }
                        else
                            $(isInsertedColumn).html("<i class='fas fa-times-circle text-danger'></i>");
                    });

                    if (insertedCounter == this.data.length)
                        toastr["success"]("Incidents imported successfuly");
                    else {
                        toastr["error"]("Not all incidents were inserted");
                        const fomattedMessage = data.validationMessage.replace("/\n/g", "<br>");
                        $(".field-validation-valid").html(fomattedMessage);
                    }
                        
                },
                error: () => {
                    toastr["error"]("Failed to import incidents");
                }
            });
        }
    </script>
}